/* HERO */
.cost-hero {
    padding-top: var(--navbar-height);
    /* text-align: center; */
    min-height: calc(60vh - var(--navbar-height));
}

.cost-hero h1 {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.cost-hero p {
    color: #cfd8dc;
    max-width: 42rem;
}


/* LEFT CARD */


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.refresh-icon {
    cursor: pointer;
    color: #9ca3af;
}

/* TYPE BUTTONS */
.type-btn {
    border-radius: 0.75rem !important;
}

/* PACKAGE */
.package-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.package-option.active {
    border-color: #ff7a00;
    background: #fff7ed;
}

.package-info small {
    color: #6b7280;
}

/* RIGHT CARD */
.estimate-card {

    /* background:
        radial-gradient(circle at 100% 0%,
            rgb(88, 87, 87, 1) 0%,
           
            rgb(105, 104, 104, 1) 20%,
            
            #2f2f2f 20%,
            
            #2f2f2f 100%),
        #2f2f2f; */
    background-color: #2f2f2f;


    color: #fff;
}

.estimate-card h3 {
    margin-bottom: 0.5rem;
}

.subtext {
    color: #9ca3af;
    margin-bottom: 1.5rem;
}

.amount {
    color: #ff7a00;
    font-size: clamp(2.2rem, 4vw, 3rem);
    margin-bottom: 2rem;
}

/* CHART */
.chart {
    max-width: 260px;
    margin: 0 auto 1rem;
}

.legend {
    text-align: center;
    margin-bottom: 1.5rem;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 6px;
}

.material {
    background: #ff7a00;
}



.service {
    background: #16a34a;
}

.labour {
    background: #c3c0daff;
}

/* NOTE */
.note {
    background: #3a3a3a;
    padding: 1rem;
    border-radius: 0.75rem;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
}

.directions button {
    background-color: #ff7b0047;
    height: 50px;
    width: 50px;
    border-width: 0px;
    font-size: 25px;
}